In [1]:
conjunto = set()

In [2]:
conjunto

set()

In [3]:
conjunto = {1,2,3}

In [4]:
conjunto

{1, 2, 3}

In [5]:
conjunto.add(4)

In [6]:
conjunto

{1, 2, 3, 4}

In [7]:
conjunto.add(0)

In [8]:
conjunto

{0, 1, 2, 3, 4}

In [9]:
grupo = {'Hector', 'Juan', 'Mario'}

In [10]:
'Juan' in grupo

True

### convirtiendo listas en conjuntos

In [12]:
l = [1,1,2,3,4,5,6,3,2,1,5,6,3,4]

In [15]:
c = set(l) # convierte la lista en conjunto y elimina los items repetidos

In [14]:
c

{1, 2, 3, 4, 5, 6}

### convirtiendo conjuntos en listas

In [16]:
l2 = list(c)

In [17]:
l2

[1, 2, 3, 4, 5, 6]

In [20]:
l4 = list(set(l)) # convirtiendo una lista en conjunto y de vuelta a lista

In [19]:
l4

[1, 2, 3, 4, 5, 6]

In [26]:
# Variables del ejercicio (no las modifiques)
grupo = {"Miguel", "Blanca", "Mario", "Andrés"}

# Completa el ejercicio
l = ['Ana', 'Ramón', 'Marta', 'Eric', 'David']
for i in l:
    grupo.add(i)
    
r = ['Mario', 'Miguel', 'Ramón']
grupo = list(grupo)
for j in r:
    grupo.remove(j)

grupo = set(grupo)
print(type(grupo))
print(grupo)

<class 'set'>
{'Ana', 'Eric', 'Blanca', 'David', 'Marta', 'Andrés'}

In [22]:
nombres = ['Marta','David','Elvira','Juan','Marcos']
usuarios, administradores = set(), set()

while True:
    for nombre in nombres:
        if nombre not in usuarios:
            usuarios.add(nombre)
        elif nombre == 'Juan' or nombre == 'Marta':
            administradores.add(nombre)
    if 'Juan' in administradores:
        del administradores[nombre]

TypeError: 'set' object does not support item deletion

In [21]:
print(usuarios, administradores)

{'David', 'Marcos', 'Elvira', 'Marta', 'Juan'} set()